# Node
node_modules/
dist/
.env

# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ipynb_checkpoints/

# Data (Ignore massive CSVs, keep small ones)
data/*.csv
!data/datasetsmall.csv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
